@import base/_variables
@import blocks/_promo
@import blocks/_header
@import blocks/_buttons
@import blocks/_advantages
@import blocks/_consultation
@import blocks/_forms
body
	margin: 0px
	box-sizing: border-box

*
	font-family: 'Museo Sans Cyrl', sans-serif
	box-sizing: border-box
.container 
	display: block
	max-width: 950px
	margin: 0 auto
	padding: 0
.title
	font-size: 30px
	line-height: 1.2
	font-weight: 700
	color: #0d0d0d
	text-align: center
	text-transform: uppercase
	&_left
		text-align-last: left
		color: #ffffff
		line-height: 1.2
		margin: 0
	

