@font-face {
	font-family: 'MuseoSansCyrl-300';
	src: url('../fonts/museosanscyrl-300.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/museosanscyrl-300.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/museosanscyrl-300.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/museosanscyrl-300.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/museosanscyrl-300.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/museosanscyrl-300.svg#museosanscyrl-300') format('svg'); /* Chrome < 4, Legacy iOS */
}