@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url(../fonts/museosanscyrl-300.ttf) format('ttf'), url(../fonts/museosanscyrl-300.woff) format('woff');
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'Museo Sans Cyrl';
    src: url(../fonts/museosanscyrl-500.ttf) format('ttf'), url(../fonts/museosanscyrl-500.woff) format('woff');
    font-style: italic;
    font-weight: 500;
  }
  
  @font-face {
    font-family: 'Museo Sans Cyrl';
    src: url(../fonts/museosanscyrl-700.ttf) format('ttf'), url(../fonts/museosanscyrl-700.woff) format('woff');
    font-weight: 700;
  }